/* Custom CSS styles */
body {
    background-color: #243342;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #121f2c49;
    padding: 10px;
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
.jumbotron {
    background-image: url('img/background1.jpg');
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #69c4c4;
  }
  
  .jumbotron h1 {
    font-size: 48px;
    margin-bottom: 20px;
    animation: text_reveal .5s ease forwards;
  animation-delay: 1ss;
  }
  .jumbotron h1:nth-child(1) {
  animation-delay: 1s;
}
.jumbotron h1:nth-child(2) {
  animation-delay: 2s;
}
.jumbotron h1:nth-child(3) {
  animation: text_reveal_name .5s ease forwards;
  animation-delay: 3s;
}
  
  .jumbotron p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    color: white;
  }
  * Footer */
  .bg-gradient {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.grayscale-filter {
  filter: grayscale(1);
  transition: .3s ease filter;
}
.grayscale-filter:hover {
  filter: grayscale(0);
}
/* End Footer */
@media only screen and (max-width: 767px) {
    .jumbotron {
      background-image: url('img/background1.jpg'); /* Change to a different image */
      height: 500px; /* Adjust height for smaller screens */
    }
  }